*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background: #D8D8E2;
}


#titre{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rebeccapurple;
    text-transform: uppercase;
}
#titre::after{
    content: "Tatoo Shop";
    color: #EFDE74;
    z-index : -1;
    font-size: 150px;
    letter-spacing: 8px;
    position: absolute;
}
.horizontal{
    transform: rotate(-90deg);
}
#rdv{
    border: solid black 2px;
    padding: 5px;
    background-color: #EFDE74;;

}
.distortion {
    width: 580px;
    height: 720px;
    position: absolute;
    right: 300px;
    bottom: 0;
  }