*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-repeat: no-repeat;
    background-size: cover;
    background: #f1f1f1;
}

#banner{
    background-image: url("../../../public/images/bras.jpeg");
    height: 100vh;
    display: flex;
}
#titre{
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 8px;
    background-color: transparent;
    color: white;
    transform: rotate(-90deg);

}
#titre2{
    color: #EFDE74;
    z-index : 10;
    font-size: 70px;
    letter-spacing: 8px;
    position: absolute;
    background-color: transparent;
    transform: rotate(-90deg);
}
#since{
    background-color: transparent;
    transform: rotate(-90deg);
}

#rdv{
    border-radius: 50%;
    padding: 5px;
    background-color: #EFDE74;
    

}
